<a href="https://colab.research.google.com/github/Kevcamposs/Learning-python/blob/main/Estructura_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

En python existen las siguientes estructuras de datos, básicamente:

# Listas
Es una estructura de datos y un tipo de dato. Permite almacenar cualquier tipo de valor. ES MUTABLE.

In [22]:
### Declarar una lista ####
ls = [1, True, "Agua", [1,2,3]] # corchetes
# Como la lista también es un tipo de dato, esta puede contener otras listas

###########################
print(ls)

[1, True, 'Agua', [1, 2, 3]]

In [23]:
### Seleccionar elementos dentro de una lista ##

print(ls[0]) # Elemento con índice 0
print(ls[1]) # Elemento con índice 1
print(ls[-1]) # último elemento

print(ls[3]) # El elemento con índice 3 es otra lista

print(ls[3][0]) # Elemento con índice 0, dentro de la lista con índice 3
print(ls[3][2]) # Elemento con índice 2, dentro de la lista con índice 3


print(ls[0:2]) # Todos los elementos desde el índice 0, hasta antes del índice 2
print(ls[:3])  # Todos los elementos desde el inicio, hasta antes del índice 2

1
True
[1, 2, 3]
[1, 2, 3]
1
3
[1, True]
[1, True, 'Agua']

## Métodos con listas

In [24]:
ls_2 = [] # lista vacía

### append()
Agregar elementos a una lista, DESDE LA ÚLTIMA POSICIÓN. Agrega un elemento por cada vez que se ejecute.

In [25]:
ls_2.append("hola") # ['hola']
print(ls_2)         # [1, True, 'Agua', [1, 2, 3], 'hola']

ls_2.append(['a','b','c']) # al agregar una lista a otra, esta se agrega como un dato.
print(ls_2)    # ['hola', ['a', 'b', 'c']]

['hola']
['hola', ['a', 'b', 'c']]

### insert()
Agregar elementos a una lista, ESPECIFICANDO LA POSICIÓN. Agrega un elemento por cada vez que se ejecute.

In [26]:
ls_2.insert(1, "mundo") # Agrega, en la posición de índice 1, el elemento "mundo"
print(ls_2)             # ['hola', 'mundo', ['a', 'b', 'c']]

ls_2.insert(4, ['a','b','c']) # Al igual que append, este agrega listas como elemento único
print(ls_2)             # ['hola', 'mundo', ['a', 'b', 'c'], ['a', 'b', 'c']]

['hola', 'mundo', ['a', 'b', 'c']]
['hola', 'mundo', ['a', 'b', 'c'], ['a', 'b', 'c']]

### extend()
Agrega elementos a uns lista POR EXTENSIÓN. Útil para concatenar listas

In [27]:
ls_2.extend([1,2,3,4,5])
print(ls_2)             # ['hola', 'mundo', ['a', 'b', 'c'], ['a', 'b', 'c'], 1, 2, 3, 4, 5]

['hola', 'mundo', ['a', 'b', 'c'], ['a', 'b', 'c'], 1, 2, 3, 4, 5]

### remove()
Remover elementos

In [28]:
ls_2.remove(['a','b','c']) # especificando elementos
print(ls_2)

['hola', 'mundo', ['a', 'b', 'c'], 1, 2, 3, 4, 5]

##pop()
funa el último elemento

In [29]:
ls_2.pop()
print(ls_2)

['hola', 'mundo', ['a', 'b', 'c'], 1, 2, 3, 4]

### reverse()
Invierte el orden de la lista

In [30]:
ls_2.reverse()
print(ls_2)

[4, 3, 2, 1, ['a', 'b', 'c'], 'mundo', 'hola']

## sort()
Ordena la lista de menor a mayor valor. Solo aplica para listas con elementos numéricos.

In [31]:
ls_3 = [2,5,7,0,2,5,3,7]
ls_3.sort()
print(ls_3)

[0, 2, 2, 3, 5, 5, 7, 7]

### count()
Cuenta cuántas veces se repite un elemento en la lista

In [32]:
Hi = ls_2.count('hola')   # cuántas veces se repite 'hola' en la lista
print(Hi)                 # 1 vez(veces)

1

## len()
Cuántos elementos contiene la lista

In [33]:
Length = len(ls_2)
print(Length)

7

# Tuplas

Es una estructura de datos y un tipo de dato. Permite almacenar cualquier tipo de valor. ES INMUTABLE.

In [34]:
### Declarar una tupla ####
tp = (1, True, "Agua", [1,2,3]) # Para crearla solo es necesario tener un conjunto de elementos separados por coma. Paréntesis (opcional)
print(tp)
# OJO: la tupla utiliza los paréntesis solo para dar orden y en caso se quiera declarar una tupla vacía.

tp_2 = 'Hola', 'mundo', 'F'
print(tp_2)

###########################
# Mismas operaciones de selección que las listas
print(tp[1])    # True
print(tp[3][0]) # 1

###########################
# Métodos aplicados a tuplas son count() y len()

(1, True, 'Agua', [1, 2, 3])
('Hola', 'mundo', 'F')
True
1

## Unpacking
Desempaquetar tupla en distintas variables

In [35]:
(Hi, world, F) = tp_2
print(Hi)
print(world)
print(F)

Hola
mundo
F

## Recorrer una tupla
Muestra los elementos de una tupla en forma de listado. También funciona con listas

In [36]:
for element in tp:
  print(element)

1
True
Agua
[1, 2, 3]

## "Mutar" una tupla
Una tupla es inmutable, es decir, una vez creado ya no puede ser modificado, sin embargo, otros elementos mutables (como una lista) contenido en una tupla sí lo son

In [37]:
tp[3].append(4) # Agregar elemento a la lista (mutable) contenido en una tupla (inmutable)
print(tp)

# tp.append(4) # si se intenta, saltará error

(1, True, 'Agua', [1, 2, 3, 4])

# Range
Es una estructura SECUENCIAL de números. ES INMUTABLE.

In [38]:
range(1,10,1) # range("valor inicial", "valor cota", "salto")

# La estructura no existe como tal, para mostrarlo, debe ser de forma de lista o tupla
list(range(1,10,1))
tuple(range(1,10,1))

list(range(0,-10,-2)) # ir del 0 hasta antes del -10, dando saltos de -2
list(range(-5, 6, 5)) # ir del -5 hasta antes del 6, dando saltos de 5 

# En caso se cree un range sin sentido, será un elemento vacío
list(range(-5,-10,1)) # ir del -5 hasta antes del -10, dando saltos de 1

[]

In [39]:
for i in range(1,10,1): # Ventaja: en iteraciones crea secuencia de números solo para ese proceso, por lo que consume menos memoria.
  print(i)

1
2
3
4
5
6
7
8
9

In [40]:
import sys
lista = list(range(0, 100000))
rango = range(0, 100000)
print("El uso de memoria de la lista es:", sys.getsizeof(lista)) # casi un megabyte (mb)

print("El uso de memoria de la lista es:", sys.getsizeof(rango)) # 48 bytes

# ejemplo extraído de: https://j2logo.com/python/tutorial/tipo-range-python/

El uso de memoria de la lista es: 900120
El uso de memoria de la lista es: 48

# Conjunto
Colección de datos no ordenada y no presenta elementos repetidos. Puede ser MUTABLE (set) o INMUTABLE (frozenset)

In [41]:
### Declarar una conjunto ####
ABC = {"a", "b", "c"} # elemento por elemento
print(ABC)

set_str = set("Hola mundo")  # a partir de un str
print(set_str)               # NOTA: considera el espacio

set_ls = set(ls_3)  # a partir de una lista
print(set_ls)       # NOTA: la lista no debe contener otra estructura de datos

###########################
# Agregar elementos (no repetidos)
set_ls.add(2) # Agregar un elemento
print(set_ls) # Agregar varios elementos de una lista, tupla, conjunto o cualquier otro elemento iterable

set_str.update(ls_3)
print(set_str)

###########################
# Métodos aplicados a tuplas son count() y len()

{'a', 'c', 'b'}
{'l', ' ', 'd', 'm', 'o', 'u', 'n', 'a', 'H'}
{0, 2, 3, 5, 7}
{0, 2, 3, 5, 7}
{0, 'l', 2, ' ', 3, 5, 7, 'd', 'm', 'o', 'u', 'n', 'a', 'H'}

# Diccionarios
Estructura de datos con par llave-clave

In [44]:
# Declarar diccionarios
Usuario = {"Nombre": "Pana",
           "Apellido": "Fresco",
           "Cursos": ["Cálculo", "Biología", "Física", "Literatura"],
           "Notas": [20, 15, 10, 5]}
print(Usuario)

{'Nombre': 'Pana', 'Apellido': 'Fresco', 'Cursos': ['Cálculo', 'Biología', 'Física', 'Literatura'], 'Notas': [20, 15, 10, 5]}